$bp-mobile: 768px;
$bp-large: 1024px; // $bp-tablet

$primary-color: rgb(35, 195, 143);

// links

// display
d-flex {
    display: flex;
}

.buttons-common {
    width: fit-content;
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 0.785rem;
    font-weight: 600;
    box-shadow: 2px 2px 50px rgb(0 0 0 / 15%);
    margin-bottom: 1rem;
    border: none;
}

// section
.page-section {
    width: 100%;

    .py-section {
        padding-top: 120px;
        padding-bottom: 120px;

        @media only screen and (max-width: $bp-large) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    // buttons
    .button {
        align-items: center;
        border: 1px solid rgb(229, 229, 229);
        border-radius: 2px;
        padding: 0.5rem 2rem;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 5px;
        line-height: 20px;

        &__wrap {
            margin: 0.5rem;
        }
    }

    .no-wrap {
        @media only screen and (max-width: $bp-mobile) {
            white-space: nowrap !important;
        }
    }

    .green-button {
        background: rgb(35, 195, 143);
        color: rgba(255, 255, 255, 0.99);
    }

    .grey-button {
        background: #485963;
        color: rgba(255, 255, 255, 0.99);
    }

    .white-button {
        background-color: rgb(255, 255, 255);
        color: rgb(155, 155, 155);
    }
}

.page-section.first-section {
    padding-top: 82px;
}

.bi {
    margin-left: 0.6rem;
}

// grid
.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 3.3vmax 60px;
    width: 100%;

    @media only screen and (max-width: $bp-large) {
        padding: 3.3vmax 20px;

        // useful for photos covering the whole width of the device
        .mobile-fluid {
            padding: 0 !important;
            max-width: none;
        }
    }

    .row {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;

        // cols of 24 de https://www.spotifyjobs.com/categories
        .col-8,
        .col-12,
        .col-16,
        .col-18,
        .col-20,
        .col-mobile-24 {
            box-sizing: border-box;
            flex: 0 0 auto;
            padding-right: 20px;
            padding-left: 20px;
        }

        .col-8 {
            flex-basis: 33.3333333333%;
            max-width: 33.3333333333%;
        }

        .col-12 {
            flex-basis: 50%;
            max-width: 50%;
        }

        .col-16 {
            flex-basis: 66.6666666667%;
            max-width: 66.6666666667%;
        }

        .col-18 {
            flex-basis: 75%;
            max-width: 75%;
        }

        .col-20 {
            flex-basis: 83.3333333333%;
            max-width: 83.3333333333%;
        }

        .col-24 {
            flex-basis: 100%;
            max-width: 100%;
        }

        .col-offset-2 {
            margin-left: 8.3333333333%;
        }

        .col-offset-4 {
            margin-left: 16.6666666667%;
        }

        .order-1 {
            order: 1;
        }

        .order-2 {
            order: 2;
        }

        @media only screen and (max-width: $bp-mobile) {
            .col-mobile-24 {
                flex-basis: 100%;
                max-width: 100%;
            }

            .col-offset-mobile-0 {
                margin-left: 0;
            }

            .place-up {
                order: -1;
            }

            .order-mobile-1 {
                order: 1 !important;
            }

            .order-mobile-2 {
                order: 2 !important;
            }
        }
    }

    .row.center {
        justify-content: center;
    }
}

// text
h1,
h2,
h3,
h4,
h5,
h6 {

    @media only screen and (max-width: $bp-mobile) {
        font-size: 16px;
    }

    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 0em;
    text-transform: none;
}

h2 {
    font-size: calc((3.2 - 1) * 1.2vw + 1rem);
}

h3 {
    font-size: 22px;
}

.text-center {
    text-align: center;
}

@media only screen and (max-width: $bp-mobile) {
    .text-center-mobile {
        text-align: center;
    }
}

// size (is the only place where we use min-width)
.size-1 {
    font-size: 2.5rem;
    letter-spacing: -.02em;
}

.size-5 {
    font-size: 1.375rem;
}

@media screen and (min-width: $bp-mobile) {
    .size-1 {
        font-size: calc(2.5rem + 3.75 * ((100vw - 48rem) / 42));
    }

    .size-5 {
        font-size: calc(1.375rem + .25 * ((100vw - 48rem) / 42));
    }
}

// font-weight
.fw-normal {
    font-weight: 400;
}

// line
$space-values-line : (110, 150) !default;

// margin and padding shorthands
$space-prefixes-line : (line : line-height) !default;

@mixin make-spaces-line() {

    @each $attr-short,
    $attr-long in $space-prefixes-line {
        @each $value in $space-values-line {
            .#{$attr-short}-#{$value} {
                #{$attr-long}: #{$value}#{'%'};
            }
        }
    }
}

@include make-spaces-line();

// colors
.color-light-black {
    color: rgba(0, 0, 0, .65);
}

@mixin invertColors {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
}

// margin & padding
$space-values : (0,
    4,
    8,
    16,
    24,
    32) !default;

// margin and padding shorthands
$space-prefixes : (p : padding,
    pt : padding-top,
    pr : padding-right,
    pb : padding-bottom,
    pl : padding-left,
    m : margin,
    mt : margin-top,
    mr : margin-right,
    mb : margin-bottom,
    ml : margin-left,
) !default;

@mixin make-spaces() {

    @each $attr-short,
    $attr-long in $space-prefixes {
        @each $value in $space-values {
            .#{$attr-short}-#{$value} {
                #{$attr-long}: #{$value}#{'px'};
            }
        }
    }
}

@include make-spaces();

.mt-xxs {
    margin-top: 25px;
}

.mt-xs {
    margin-top: 40px;
}

.mt-l {
    margin-top: 150px;
}

.mt-xxl {
    margin-top: 250px;
}

.mb-xxs {
    margin-bottom: 25px;
}

.mb-xs {
    margin-bottom: 40px;
}

.mb-l {
    margin-bottom: 150px;
}

.mb-xxl {
    margin-bottom: 250px;
}

@media only screen and (max-width: $bp-mobile) {
    $space-values-mobile: (0,
            4,
            8,
            16,
            24,
            32) !default;

    // margin and padding shorthands
    $space-prefixes-mobile: (p-mobile : padding,
            pt-mobile : padding-top,
            pr-mobile : padding-right,
            pb-mobile : padding-bottom,
            pl-mobile : padding-left,
            m-mobile : margin,
            mt-mobile : margin-top,
            mr-mobile : margin-right,
            mb-mobile : margin-bottom,
            ml-mobile : margin-left,
        ) !default;

    @mixin make-spaces-mobile() {

        @each $attr-short,
        $attr-long in $space-prefixes-mobile {
            @each $value in $space-values-mobile {
                .#{$attr-short}-#{$value} {
                    #{$attr-long}: #{$value}#{'px'};
                }
            }
        }
    }

    @include make-spaces-mobile();

    .mt-mobile-l {
        margin-top: 70px;
    }

    .mb-mobile-l {
        margin-bottom: 70px;
    }

    // overflow-x
    .overflow-x-mobile {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        overflow: scroll hidden;
    }
}

// visibility
.is-visibile-desktop {
    display: block;
}

.is-hidden-mobile {
    @media only screen and (max-width: $bp-large) {
        display: none;
    }
}

// tags
.tags-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 15px;
    border-radius: 100px;
    border: 1px solid transparent;
    flex-shrink: 0;
}

.tags-black {
    background: #191414;
    color: #fff;
}