$bp-tablet: 768px;

$primary-color: rgb(35, 195, 143);

.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
}

// links
a {
    color: white !important;
    text-decoration: none !important;
}

// list
ul, li {
    list-style-type: none;
    margin-bottom: 0 !important;
}


// page
.page-section {
    width: 100%;

    .content-wrapper {
        position: relative;
        flex-direction: column;
        display: flex;
        justify-content: center;
        padding-top: 4.6vmax;
        padding-bottom: 4.6vmax;
        padding-right: 4vw;
        padding-left: 4vw;

        @media only screen and (max-width: $bp-tablet) {
            padding-right: 6vw;
            padding-left: 6vw;
        }

        .page-title {
            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: 600;
        }

        .text {
            letter-spacing: 2px;
            line-height: 1.5;
            margin-bottom: 1.2rem;
        }

        .button {
            background: rgb(35, 195, 143);
            width: fit-content;
            border-radius: 1rem;
            padding: 1rem;
            color: hsla(0,0%,100%,.99);
            text-transform: uppercase;
            letter-spacing: 1.4px;
            font-size: 0.785rem;
            font-weight: 600;
            box-shadow: 2px 2px 50px rgb(0 0 0 / 15%);
            margin-bottom: 1rem;
            border: none;
        }

    }

    .content-wrapper.contribution {
        display: flex;
        align-items: center;
    }

}

.page-section.first-section {
    padding-top: 120px;
}

h1 {
    font-size: 4rem !important;
}

h2 {
    font-size: 2rem !important;
}

.bi {
    margin-left: 0.6rem;
}