.blog-summary-entry-list {

    .blog-summary-entry {
        a {
            color: black !important;
        }
    }
}

.main-image div {
    width: 100%;
}

.blog-entry {

    display: flex;
    flex-direction: column;

    &-title,
    &-read-more {
        cursor: pointer;
    }

    &-title {
        font-size: calc((2.8 - 1) * 1.2vw + 1rem);
    }

    &-read-more {
        text-decoration: underline;
        color: #020086;
    }
}