.contribution-row {
    display: flex;
    flex-wrap: wrap;

    img {
        width: 100%;
        border-radius: 1rem;
        box-shadow: 2px 2px 50px rgb(0 0 0 / 15%);

        @media only screen and (max-width: $bp-tablet) {
            margin-bottom: 2.5rem;
        }
    }

    &-content {
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media only screen and (max-width: $bp-tablet) {
            text-align: center;
            align-items: center;
        }

        h3 {
            color: #1C1E20;
            margin-bottom: .5rem;
        }

        p {
            line-height: 1.625;
        }
    }

    .contribution-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.contribution-filters {
    @media only screen and (max-width: $bp-tablet) {
        button:first-child {
            margin-left: 0;
        }
    }
}
