.main-container {
    min-height: 100vh;
}

// navbar
.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
}

.desktopmenu-header,
.mobilemenu-header {
    position: fixed;
    width: 100%;
    z-index: 11;
}

.desktopmenu-header {
    display: block;

    @media only screen and (max-width: $bp-large) {
        display: none;
    }

    &__container {
        display: flex;
        padding: 0 30px;
        background-color: transparent;
        padding: 2rem;
    }

    .social-networks-wrapper {
        width: 20%;
        display: flex;
        text-align: right;
        justify-content: flex-end;
        align-items: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 12px;
        }
    }
}

.mobilemenu-header {
    display: none;

    @media only screen and (max-width: $bp-large) {
        display: block;
    }

    .social-networks-wrapper {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 32px;
        transform: translateY(100%);
        transition: all .3s ease-in-out;

        img {
            @include invertColors;
        }

        a {
            margin: 0px 16px;
        }
    }

    &__open {

        .header-title-wrapper {
            color: #FCFCFC;
        }

        .social-networks-wrapper {
            transform: translateY(0%) !important;
        }
    }
}

.mainmenu {
    color: white;

    img {
        @include invertColors;
    }
}

.mainmenu-mobile {
    color: #FCFCFC !important;
}

.header-title-wrapper {
    display: flex;
    width: 20%;

    @media only screen and (max-width: $bp-large) {
        width: 100%;
    }
}

.menu {
    width: 60%;
    display: flex;
    justify-content: center;

    .nav-list {
        flex-direction: row;
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;

        .nav-item {
            margin: 0 8px;
        }
    }

    .nav-sublist {
        position: absolute;
        background: $primary-color;
        transform: translateX(-45%);
        display: none;
        overflow: hidden;
    }

    .subnav:hover .nav-sublist {
        display: block;
    }

    @media only screen and (max-width: $bp-large) {
        display: none;
    }
}

.menu-mobile {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCFCFC;

    .nav-list {
        flex-direction: column;
        display: flex;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        .nav-item {
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }

    @media only screen and (max-width: $bp-large) {
        display: flex;
    }
}

.menu-container {
    background-color: #1C1E20;
    z-index: 10;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
}

.menu-container-open {
    transform: translateX(0%);
}

.nav-menu-content {
    width: 100%;
}

.footer {
    background-color: #1C1E20;
    color: #FCFCFC;
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}

.nav-wrapper.background {
    background-color: $primary-color !important;

    @media only screen and (max-width: $bp-large) {
        position: fixed;
        overflow-y: hidden;
        bottom: 0;
        background-color: transparent !important;
    }
}

.nav-link {
    width: 100%;
    cursor: pointer;

    @media only screen and (max-width: $bp-large) {
        display: flex;
        margin: 3vw 5vw;
        font-size: 1.3rem;
        padding: 0 !important;
        justify-content: center;
    }
}

a.navbar-brand {

    @media only screen and (max-width: $bp-large) {
        padding: 28px 20px;
        font-size: 1.3rem;
    }
}

.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active {
    position: absolute;
    transform: translateX(0%);
    transition: all 500ms ease;
}

.menu-primary-exit {
    position: absolute;
}

.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all 500ms ease;
}

.background {
    &__about {
        background-color: #c3f0c8;
    }

    &__blog {
        background-color: #ffcdd2;
    }

    &__contact {
        background-color: #ffc864;
    }
}