$primary-color: #202D34;

.menu-btn {
    display: none;
    position: fixed;
    cursor: pointer;
    transition: all .3s ease-in-out;
    top: 0;
    right: 0;
    padding: 42px 20px;
    z-index: 11;

    @media only screen and (max-width: $bp-large) {
        display: block;
    }
}

@mixin burguer {
    width: 40px;
    height: 2px;
    border-radius: 5px;
    background: $primary-color;
    box-shadow: 0 2px 5px rgba(110, 101, 47, 0.2);
    transition: all .5s ease-in-out;
}

.menu-btn__burguer {
    @include burguer();
}

.menu-btn__burguer::before,
.menu-btn__burguer::after {
    content: '';
    position: absolute;
    @include burguer();
}

.menu-btn__burguer.main-page,
.menu-btn__burguer.main-page::before,
.menu-btn__burguer.main-page::after {
    background: #FCFCFC ;
}

.menu-btn__burguer::before {
    transform: translateY(-12px)
}

.menu-btn__burguer::after {
    transform: translateY(12px)
}

/* ANIMATION */
.menu-btn.open .menu-btn__burguer {
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burguer::before {
    transform: rotate(45deg) ;
    background: #FCFCFC;
}

.menu-btn.open .menu-btn__burguer::after {
    transform: rotate(-45deg);
    background: #FCFCFC;
}
